@font-face {
    font-family: "Bigilla";
    src: local("Bigilla"),
    url(/front/assets/typo/Bigilla.otf);
    font-weight: normal;
    }

*{
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto';

}

.title_and_rectangle_connexion{
    margin-top: 2%;
}


.Partie_Texte{
    margin-left: 3%;
}

h1{
    font-family: "Bigilla", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 150px;
    text-align: center;
}

h2{
    margin-top: 3%;
    font-weight: bolder;
    font-size: 28px;
}

.rectangle_rouge{
    height: 10px;
    width: 650px;
    background-color: #AD1305;
    margin: 0 auto;
}

input{
    border-radius:4px;
    background-color: #C4C4C4;
    padding: 10px 20px;
    border: 0px;
    font-size: 16px;
}

b{
    font-size: 20px;
    margin-right: 1%;
}

.bouton_affichage_mdp{
    margin-top: 1%;
}

.connexion_control{
    margin-top: 2%;
}

.enluminure{
    font-family: "Bigilla";
    font-size: 40px;
    color: #AD1305;
}

input[type=submit]{
    margin-top: 2%;
    transition: all 0.2s ease-in-out;
}

input[type=submit]:hover{
  -webkit-filter: brightness(70%);
   filter: brightness(70%);;
}

.Pas_encore_inscrit{
    margin-top: 2%;
    font-weight: bolder;
}

.Pas_encore_inscrit_lien{
    text-decoration: none;
    color:#AD1305;
    transition: all 0.2s ease-in-out;
}

.Pas_encore_inscrit_lien:hover{
    color:#7798C9;
}