*{
    margin : 0%;
    padding : 0%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@font-face {
    font-family: "Bigilla";
    src: local("Bigilla"),
    url(/front/assets/typo/Bigilla.otf);
    font-weight: normal;
    }

h1 {
    font-size: 200px;
    font-family: "Bigilla";
    margin-bottom: 0%;
    margin-top: 10%;
}

.couleur_h1 {
    color: rgb(255, 255, 255);
}

.cover_articles{
    background-color: #BD00FF;
    height: 609px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ligne_jaune {
    background-color: #FFF500;
    height: 19px;
    width: 900px;
    margin-right: 50%;
}

.p_intro{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    text-align: left;
    margin : 5%;
}

.image_article{
    width: 500px;
    height: 384px;
    object-fit: cover;
}

.date_article{
    font-family : Bigilla;
    font-style: bold;
    font-size : 35px;
    margin-top : 5%;
}

.l_jaune{
    height: 14px;
    width: 377px;  
    background-color: #FFF500; 
}

.titre_article{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 45px;
    font-style : bold;
    line-height: 40px;
    margin-top: 10%;
    margin-bottom: 5%;
}

.projet-text{
    margin-top: 5%;
    margin-bottom: 15%;
}

.articles_div{
    margin: 5% 5% 5%; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles{
        max-width: 500px;
        display: flex;
        flex-direction: column;
}

.articles_div{
    justify-content: space-between;
}


/* .width_images{
    
    margin : 5%;
}

.images{
    display: flex;
    justify-content: center;
}

.lignes{
    display: flex;
    flex-direction: row;
}

.l_jaune{
    height: 14px;
    width: 377px;  
    background-color: #FFF500; 
}

.l_violet{
    height: 14px;
    width: 377px;  
    background-color: #BD00FF; 
    margin-left: 17%;
}

.dates{
    font-family: Bigilla;
    font-size: 25px;
    display : flex;
    flex-direction: row;
}

.date_art1{
    margin-left: 10%;
}

.date_art2{
    margin-left: 41%;
} */